@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Ubuntu:wght@500&display=swap');
body{
    background-color: antiquewhite;
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
    
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Noto Serif', serif;
}

nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(25, 2, 24);
    color: white;
    
}

nav ul li{
    padding: 0 10 px;
   

}

.brand img{
    height : 6%;
    width : 6%;
    margin-top: 2px;
    margin-left: 5px;
    padding: 0 8px;
}
.brand {
    display:  flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;

}
.container {
    min-height:72 vh;
    
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
    display: flex;
    width: 50%;
    margin: 75px auto;
    border-radius: 12px;
    padding: 150px;
    
}
.bottom {
    position: sticky;
    height: 130px;
    background-color: rgb(25, 2, 24);
    color:white;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin: 500px 0;
    background-attachment: center;
    

}
.icons{
    margin-top: 10px; 
}
.icons{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    
    color:rgb(25, 2, 24);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
.songItem img {
    width: 23px;
    margin: 0 23px;
    
    border-radius: 24px;
}
.timestamp{
    margin: 0 23px;

}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: relative;
    left: 10vw;
    font-family: 'Ubuntu', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}